.footer-framework{
    margin-left: 10%;
    margin-right: 10%;
}

.warning_box{
    background-color: #ffc3c5;
    color: #ff1a0a;
    text-align: center;
    margin-top: 5px;
}

.head_01{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.input-file{
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: auto;
    background-color: #6c6a6e;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color:#fff;
    text-decoration: none;
}
.input-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    background-color: #fff;
    transform: translate(-300px, 0px) scale(4);
    height: 40px;
    opacity: 0;
    filter: alpha(opacity=0);
 }

.hover_div{
    padding:0 24px;height:48px;background: rgba(173, 163, 215, 0.33);
    -webkit-box-shadow:0 2px 4px 0 rgba(255, 255, 255, 0.05);
    box-shadow:0 2px 4px 0 rgb(255, 255, 255);
}
.filter-box .chk-box{color: #ffffff;cursor:pointer;}

.title_text{
    border: none;
    font-size: xx-large;
    margin: 20px;
}

.count_step{
    font-style:italic;
    color: #808080;
    font-family: "Times New Roman";
    font-size: 20px;
}
.div_step{
    border-top:1px solid #e6e6e2;
    background-color: white;
}
.div_step_top{
    background-color: white;
}
.img_step{
    padding-top: 10px;
    width: 100%;
}

.text_step{
    margin-top: 10px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize:none;
    border: 1px solid #ffddd1;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: #ffe7e5;
    color: #ffa689;
}

.text_comment{
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize:none;
    border: 1px solid #ffddd1;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #ffe7e5;
    color: #ffa689;
}

 .img_upload {
     position: relative;
     display: inline-block;
     background: #D0EEFF;
     border: 1px solid #99D3F5;
     border-radius: 4px;
     padding: 4px 12px;
     overflow: hidden;
     color: #1E88C7;
     text-decoration: none;
     text-indent: 0;
     line-height: 20px;
 }
.img_upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.img_upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.item0{
    width: 40%;
}
.item1{
    padding-left: 5%;
    padding-right: 2%;
    width: 53%;
}

.editing_board{
    background-color: white;
    padding: 20px;
}

.item0_2{
    width: 60%;
}
.item1_2{
    padding-left: 5%;
    padding-right: 2%;
    width: 43%;
}

.item0_3{
    width: 5%;
}
.item1_3{
    width: 100%;
    vertical-align:middle; text-align:center;
}

h3{
    color: #988626;
}

.journal-reward {
	position: absolute;
	bottom: 70px;
	right: 20px;
	height: 80px;
	width: 80px;
	display: block;
	z-index: 21;
    position: fixed;
}

.head_img{
    width: 50px; height: 50px; border-radius: 25px; float: left; margin-right: 25px;
}