.footer-framework{
    margin-left: 10%;
    margin-right: 10%;
}

.warning_box{
    background-color: #ffc3c5;
    color: #ff1a0a;
    text-align: center;
    margin-top: 5px;
}

.head_01{
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.input-file{
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: auto;
    background-color: #6c6a6e;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color:#fff;
    text-decoration: none;
}
.input-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    background-color: #fff;
    transform: translate(-300px, 0px) scale(4);
    height: 40px;
    opacity: 0;
    filter: alpha(opacity=0);
 }

.hover_div{
    padding:0 24px;height:48px;background: rgba(173, 163, 215, 0.33);
    -webkit-box-shadow:0 2px 4px 0 rgba(255, 255, 255, 0.05);
    box-shadow:0 2px 4px 0 rgb(255, 255, 255);
}
.filter-box .chk-box{color: #ffffff;cursor:pointer;}

.title_text{
    border: none;
    font-size: xx-large;
    margin: 20px;
}

.count_step{
    font-style:italic;
    color: #808080;
    font-family: "Times New Roman";
    font-size: 20px;
}
.div_step{
    border-top:1px solid #e6e6e2;
    background-color: white;
}
.div_step_top{
    background-color: white;
}
.img_step{
    padding-top: 10px;
    width: 100%;
}

.text_step{
    margin-top: 10px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize:none;
    border: 1px solid #ffddd1;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: #ffe7e5;
    color: #ffa689;
}

.text_comment{
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize:none;
    border: 1px solid #ffddd1;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #ffe7e5;
    color: #ffa689;
}

.text_comment2{
    width: 100%;
    overflow: auto;
    word-break: break-all;
    resize:none;
    border: 1px solid #ecffff;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #edf7f9;
    color: #477dd4;
    overflow-y:visible;
}

.test-textarea {
width: 100%;
min-height: 26px;
line-height: 20px;
_height: 30px;
/* max-height: 150px;*/
    padding: 5px;
outline: 0;
    border: 1px solid #ecffff;
    background-color: #edf7f9;
    color: #477dd4;
    border-radius: 5px;
    font-size: 15px;
word-wrap: break-word;
overflow-x: hidden;
overflow-y: auto;
-webkit-user-modify: read-write-plaintext-only;
    text-align: left;
}

 .img_upload {
     position: relative;
     display: inline-block;
     background: #D0EEFF;
     border: 1px solid #99D3F5;
     border-radius: 4px;
     padding: 4px 12px;
     overflow: hidden;
     color: #1E88C7;
     text-decoration: none;
     text-indent: 0;
     line-height: 20px;
 }
.img_upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.img_upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.item0{
    width: 40%;
}
.item1{
    padding-left: 5%;
    padding-right: 2%;
    width: 53%;
}

.editing_board{
    background-color: white;
    padding: 10px;
    width: 100%;
}

.editing_board_reply{
    background-color: white;
    width: 100%;
}

.commenting_board{
    border-top: 1px solid #d0d0d0;
    background-color: white;
    padding: 20px;
}

.self_home_img{
    width: 50%;
}

.item0_2{
    width: 60%;
}
.item1_2{
    padding-left: 5%;
    padding-right: 2%;
    width: 43%;
}

.item0_3{
    width: 5%;
}
.item1_3{
    width: 100%;
    vertical-align:middle; text-align:center;
}

h3{
    color: #988626;
}

.journal-reward {
	position: absolute;
	bottom: 70px;
	right: 20px;
	height: 80px;
	width: 80px;
	display: block;
	z-index: 21;
    position: fixed;
}

.head_img{
    width: 50px; height: 50px; border-radius: 25px; float: left; margin-right: 25px;
}

.h5_time_stamp{
    margin-top: 5px;
    font-weight:normal;
    color: #aec5d7;
    align-self: right;
    float: right;
}

.btn_open{
    background-color: #a1d9f3;
    color: white;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;

}

.submit_btn{
    color: white; background-color: #ff3e2f; border: none; border-radius: 5px;padding: 5px;
}

.text_hidden{
    display: none;
}
.fense{ color:#ff6699;}

.sgk-gerenzhuye-list{margin-right: -22px}
.sgk-gerenzhuye-jc-one{ width:228px; padding-bottom:15px; background:#fff; box-shadow:1px 1px 5px #cccccc; float:left; margin:22px 22px 0 0; position:relative;}
.sgk-gerenzhuye-jc-one-info{ width:208px; padding:0 10px;}

.size24{ font-size:24px;}
.size14{ font-size:14px;}
.size16{ font-size:16px;}
.size20{ font-size:20px;}
.size18{ font-size:18px;}
.size26{ font-size:26px;}
.size28{ font-size:28px;}

.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.width980{ width:980px; margin:0 auto;}

.jc-hot{ margin:50px auto 0;}
.jc-hot-tit a{ float:right;}
.jc-hot-tit{ width:978px; background:url(http://imgs.shougongke.com/Public/index/images/jc_bg.gif) no-repeat bottom; padding:0 0 10px 0; margin-bottom:9px;}
.jc-hot-tit a:hover{ background:#FF6699; color:#fff;}
/***教程添加用户头像***/
.sgk-jc-writer{ margin-top:22px;}
.sgk-jc-writer dl{ float:right; margin-right:12px;}
.sgk-jc-writer dl dt{ float:right;}
.sgk-jc-writer dl dd a{ line-height:32px; padding-right:12px;}
.sgk-jc-writer dl dd{ float:right; padding-right: 5px;}
.sgk-jc-writer dl dd a{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 130px; display: inline-block;  color: #555;}
.sgk-jc-writer dl dd.daren{ background:url(http://imgs.shougongke.com/Public/index/images/common/v.png) no-repeat left center; padding:0 5px 0 25px; max-width: 170px; box-sizing: border-box;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.sgk-jc-writer dl dd.daren a{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 100px; display: inline-block;}

.jc-tit{ height:20px; line-height:22px; overflow:hidden; font-weight:normal; margin:10px 0 10px 0;}
.jc-tit a:hover{ color:#ff6699;}

.padding-box{padding: 3px;}

.aa{}
.aa:hover{
    color: #ffa26d;
}

.outBox{

    height: 700px;
    overflow-y: auto;
}

.add_minus_btn{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #3335ff;
    background-color: #a8b6ff;
    color: white;
    font-size: 25px;
    vertical-align:middle;
    text-align: center;
}
.add_minus_btn:active{
    order-radius: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #3335ff;
    background-color: #8392ff;
    color: white;
    font-size: 25px;
    vertical-align:middle;
    text-align: center;
}
.order_input{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ededed;
    width: 150px;
    background-color: #ffffff;
    color: #573314;
    font-size: 25px;
    vertical-align:middle;
    text-align: center;
}
.operator{
    height: 40px;
    border: none;
    width: 40px;
    background-color: #ffffff;
    color: #9b9696;
    font-size: 25px;
    vertical-align:middle;
    text-align: center;
}

.image_btn{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: white;
    font-size: 25px;
    vertical-align:middle;
    text-align: center;
}
.operator_mul{
    height: 40px;
    border: none;
    width: 40px;
    background: linear-gradient(to right,#00e1ff, #09ff19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.0);
    vertical-align:middle;
    text-align: center;
}
.order_input_mul{
    width: 200px;
    border: none;
    background: linear-gradient(to right,#00e1ff, #09ff19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 60px;
    vertical-align:middle;
    text-align: center;
}