<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到匠人堂</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/self_defined_style.css">
    <link rel="shortcut icon" href="../static/src/images/logo.ico" type="image/x-icon"/>
</head>
<body>
<!--Preloader-->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<!--Subscribe modal-->
<div class="subscribe-newsletter-area">
    <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-describedby="subsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <h5 class="title">Subscribe to log in!</h5>
                    <form action="#" class="newsletterForm" method="post">
                        <input type="text" name="account" id="account" placeholder="Your account/email here">
                        <input type="password" name="password" id="password" placeholder="Your password here">

                        <!--<button type="submit" class="btn original-btn">Subscribe</button>-->
                        <div class="btn original-btn">
                            <a href="#" id="login">Login in</a>
                        </div>

                        <!--<button type="submit" class="btn original-btn">Subscribe</button>-->
                        <div id="submit" class="btn original-btn" style="background-color: #e492ff; color: white">
                            <a href="{{url_for('from_index_to_register')}}">Register</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Head Area Start-->
<header class="header-area">
    <!--Top header area-->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!--Breaking News Area-->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello World!</a></li>
                                <li><a href="#">Hello Universe!</a></li>
                                <li><a href="#">Hello Original!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--logo area-->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a href="../static/src/images/logo.png" class="original-logo" target="_blank">
                        <img src="../static/src/images/logo.png" width="150" height="150" alt="Click to see the logo!">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Nav area-->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!--menu-->
                <nav class="classy-navbar justify-content-between">
                    <!--subscribe button-->
                    <div class="subscribe-btn">
                        <img src="#" style="display: none; width: 50px; height: 50px; border-radius: 25px; float: left; margin-right: 25px;" id="sheader"/>
                        <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal" id="subscribe">Subscribe</a>
                        <div class="classynav" id="self_info_board" style="display: none; ">
                            <ul>
                                <li>
                                    <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal" id="self_info" style="color: white;">
                                        self_info::after
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="{{url_for('selfinfo')}}" target="_blank" style="background-color: white; padding-left: 20px;">个人中心</a></li>
                                        <li><a href="{{url_for('selfhome')}}" target="_blank" style="background-color: white; padding-left: 20px;">个人主页</a></li>
                                        <li><a href="{{url_for('orders')}}" target="_blank" style="background-color: white; padding-left: 20px;">我的订单</a></li>
                                        <li><a href="{{url_for('recharge')}}" target="_blank" style="background-color: white; padding-left: 20px;">充值中心</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--Navbar toggler-->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!--Menu-->
                    <div class="classy-menu" id="originalNav">

                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"> </span><span class="bottom"></span></div>
                        </div>
                        <!-- nav start-->
                        <div class="classynav">
                            <ul>
                                <li><a href="{{url_for('index')}}">Home</a> </li>
                                <!--
                                <li class="megamenu-item">
                                    <a href="#">教程分类</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-3">
                                            <li class="title">A A</li>
                                            <li>aa</li>
                                        </ul>
                                        <ul class="single-mega cn-col-3">
                                            <li class="title">A A A</li>
                                            <li>aa</li>
                                        </ul>
                                        <ul class="single-mega cn-col-3">
                                            <li class="title">A A A A</li>
                                            <li>aa</li>
                                        </ul>
                                    </div>

                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--sample area-->
<div class="hero-area">
    <div class="hero-slides owl-carousel">
        <!--one slide-->
        <div class="single-hero-slide bg-img" style="background-image: url(../static/src/images/slides/slide2.png);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <!--
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            -->
                            <h2 data-animation="fadeInUp" data-delay="250ms">
                                <a href="#">Art Design</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--one slide-->
        <div class="single-hero-slide bg-img" style="background-image: url(../static/src/images/slides/slide4.png);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <!--
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            -->
                            <h2 data-animation="fadeInUp" data-delay="250ms">
                                <a href="#">Love her, for her</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--one slide-->
        <div class="single-hero-slide bg-img" style="background-image: url(../static/src/images/slides/slide3.png);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <!--
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            -->
                            <h2 data-animation="fadeInUp" data-delay="250ms">
                                <a href="#">The Quiet</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--main area-->
<div class="jc-hot width980 fixed">
    <div class="size16 jc-hot-tit fixed">
        热门<h2 style="font-size: 16px; display: inline;">匠人教程</h2>
        &nbsp;&nbsp;Tutorial
        <a href="#" id="more" class="size14 fense" target="_blank">More</a>
    </div>
    <div class="sgk-gerenzhuye-con">
        <div id="sgk-gerenzhuye-jc" class="fixed">
            <div class="sgk-gerenzhuye-list fixed" _hover-ignore="1" id="sample_tutorials">
                <!--tutorials-->
            </div>
        </div>
    </div>
</div>

<!--Footer area start-->
<div class="footer-framework">
    <hr/>
    <footer class="footer-area text-center">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with ❤ by Colorlib  -  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Modified by <a href="https://blog.csdn.net/WinerChopin" title="Chopin, Lao han, Wen di" target="_blank">匠心人</a>
    </footer>
</div>
<!--scripts-->
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/active.js"></script>
<script src="../static/js/index2.js"></script>
<script type="text/javascript">
    // globally info of the user
    var state = -1;
    var nickname = '';
    var account = '';
    var email = '';
    var sex = '';
    var sel_year = 0;
    var sel_month = 0;
    var sel_day = 0;
    var province = '';
    var city = '';
    var county = '';
    var procession = '';
    var signature = '';
    var county = '';
    var photopth = '';
    var count = 0;
    var header = document.getElementById('header');
    var account_level = document.getElementById('account_level');
    var sample_tutorials = document.getElementById('sample_tutorials');

    document.getElementById("more").onclick = function(){
        location.href="SuperCraftsman/tutorials-ocean?"+"type="+encodeURI(-1);
    }

    function load(){
        init_tutorials();
        var data = {
            'state':state,
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/validation',
            data:data,
            dataType:'json',
            success:function(data){
                state = data.state;
                if (state == 2){
                    // successful validation
                    nickname = data.nickname;
                    account  = data.account;
                    email = data.email;
                    sex = data.sex;
                    sel_year = data.sel_year;
                    sel_month = data.sel_month;
                    sel_day = data.sel_day;
                    province = data.province;
                    city = data.city;
                    county = data.county;
                    procession = data.procession;
                    signature = data.signature;
                    photopth = data.photopth;
                    count = data.count;
                    update();
                }else{

                }
                console.log(photopth);
            },
            error:function(error){
            }
        })
    }
    
    function init_tutorials() {
        var tut_ids = [], host_ids = [], host_names = [], host_photos = [], titles = [];
        var request = {
            'state': -2 // get the at most advanced FOR -- -2
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/gettutorials',
            data:request,
            dataType:'json',
            success: function (data) {
                if (data.state > 0){
                    tut_ids = data.tut_ids;
                    titles = data.titles;
                    host_ids = data.host_ids;
                    host_names = data.host_names;
                    host_photos = data.host_photos;
                    console.log(host_names);
                    var count = tut_ids.length;
                    for(var i = 0; i < count; ++i){
                        var div = document.createElement('div');
                        div.setAttribute('class', 'sgk-gerenzhuye-jc-one');
                        // part 1: img
                        var p = document.createElement('p');
                        var a = document.createElement('a');
                        a.setAttribute('href', '/SuperCraftsman/tutorialdetails?tutorial_no='+tut_ids[i]);
                        a.target = '_blank';
                        a.rel = 'nofollow';
                        var img = document.createElement('img');
                        img.src = '../static/tutorials/'+tut_ids[i]+'/src/1.png?ver=1';
                        img.width = 228;
                        img.height = 172;
                        a.appendChild(img);
                        p.appendChild(a);
                        div.appendChild(p);

                        // part 2: title
                        var div2 = document.createElement('div');
                        div2.setAttribute('class', 'sgk-gerenzhuye-jc-one-info');
                        div2.setAttribute('class', 'padding-box');
                        var h4 = document.createElement('h4');
                        h4.setAttribute('class', 'jc-tit');
                        h4.innerHTML=titles[i];
                        div2.appendChild(h4);
                        div.appendChild(div2);

                        // part 3: host
                        var div3 = document.createElement('div');
                        div3.setAttribute('class', 'sgk-jc-writer fixed');
                        var dl = document.createElement('dl');
                        dl.setAttribute('class', 'fixed');
                        var dt = document.createElement('dt');
                        var a = document.createElement('a');
                        a.href = '#';
                        a.target = '_blank';
                        a.rel = 'nofollow';
                        var img = document.createElement('img');
                        img.src = host_photos[i];
                        img.width = 32; img.height = 32;
                        a.appendChild(img);
                        dt.appendChild(a);
                        dl.appendChild(dt);
                        var dd = document.createElement('dd');
                        a = document.createElement('a');
                        a.href = '#';
                        a.target = '_blank';
                        a.innerHTML=(host_names[i]);
                        dd.appendChild(a);
                        dl.appendChild(dd);
                        div3.appendChild(dl);
                        div.appendChild(div3);

                        sample_tutorials.appendChild(div);
                    }
                }
            }
        });
    }

    function update(){
        document.getElementById("subscribe").style.display="none";
        document.getElementById("self_info").innerHTML=nickname;
        document.getElementById("self_info_board").style.display="";
        document.getElementById("sheader").style.display="";
        document.getElementById('sheader').src = photopth;
    }

    window.onload = function(){
        load();
    }
</script>

</body>
</html>