<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>匠人堂充值中心</title>
    <link rel="shortcut icon" href="../static/src/images/logo_c.ico" type="image/x-icon"/>
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/content_toolbar.css">
    <link rel="stylesheet" href="../static/css/self_defined_style.css">
</head>
<body>
<div style="text-align: center; margin-top: 10%">
    欢迎添加微信：<u><b>C773347598（因似水，故流年）</b></u>，联系后台成员进行<img src="../static/src/images/BIT.png" style="width: 100px; height: 100px;"/>充值！
</div>

</body>
<!--scripts-->
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/active.js"></script>
<script src="../static/js/index2.js"></script>
<script type="text/javascript">
    /*
    $('#btn').on('click', function () {
        var data ={
            'state': -1
        };
        $.ajax({
            type: 'GET',
            url: '/../SuperCraftsman/incharge',
            data: data,
            dataType: 'json',
            success: function (data) {
            }
        });
    })
    */
</script>
</html>