<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到匠人堂</title>

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/self_defined_style.css">
    <link rel="shortcut icon" href="../static/src/images/logo.ico" type="image/x-icon"/>
</head>
<body onload="load();">
<!--Preloader-->
<div id="preloader">
    <div class="preload-content">
        <div id="original-load"></div>
    </div>
</div>

<!--Subscribe modal-->
<div class="subscribe-newsletter-area">
    <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-describedby="subsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <h5 class="title">Subscribe to log in!</h5>
                    <form action="#" class="newsletterForm" method="post">
                        <input type="text" name="account" id="account" placeholder="Your account/email here">
                        <input type="password" name="password" id="password" placeholder="Your password here">

                        <!--<button type="submit" class="btn original-btn">Subscribe</button>-->
                        <div class="btn original-btn">
                            <a href="#" id="login">Login in</a>
                        </div>

                        <!--<button type="submit" class="btn original-btn">Subscribe</button>-->
                        <div id="submit" class="btn original-btn" style="background-color: #e492ff; color: white">
                            <a href="{{url_for('from_index_to_register')}}">Register</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Head Area Start-->
<header class="header-area">
    <!--Top header area-->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!--Breaking News Area-->
                <div class="col-12 col-sm-8">
                    <div class="breaking-news-area">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello World!</a></li>
                                <li><a href="#">Hello Universe!</a></li>
                                <li><a href="#">Hello Original!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--logo area-->
    <div class="logo-area text-center">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <a href="../static/src/images/logo.png" class="original-logo" target="_blank">
                        <img src="../static/src/images/logo.png" width="150" height="150" alt="Click to see the logo!">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Nav area-->
    <div class="original-nav-area" id="stickyNav">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!--menu-->
                <nav class="classy-navbar justify-content-between">
                    <!--subscribe button-->
                    <div class="subscribe-btn">
                        <a class="btn subscribe-btn" href="{{url_for('infoeditor')}}">☀🌙⭐ <b>修改</b> ❤♡♥</a>
                    </div>
                    <!--Navbar toggler-->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!--Menu-->
                    <div class="classy-menu" id="originalNav">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"> </span><span class="bottom"></span></div>
                        </div>
                        <!-- nav start-->
                        <div class="classynav">
                            <ul>
                                <li><a href="{{url_for('index')}}" id="gotohome">Home</a> </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--self information board-->
<div class="footer-framework">
    <hr/>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td valign="top"><img class="head_01" src="#" id="header"></td>
                    </tr>
                    <!--
                    <tr>
                        <td align="center">☀⭐🌙<a href="#">点击更换头像</a>❤♡♥</td>
                    </tr>
                    -->
                    <tr>
                        <td align="center">
                            <!--level-->
                            <h5 id="account_level" style="color: #a1a3a5;">craftsman&emsp;<b><i>LV: 1</i></b></h5>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="center">
                <!-- information -->
                <table style="border-collapse:separate; border-spacing:0px 10px;">
                    <tr>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">昵称</div></td>
                        <td align="left" valign="center"><div id="nickname" style="margin-left: 10px;">nickname</div></td>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">E-mail</div></td>
                        <td align="left" valign="center"><div id="email" style="margin-left: 10px;">e-mail</div></td>
                    </tr>

                    <tr>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">职业</div></td>
                        <td align="left" valign="center"><div id="procession" style="margin-left: 10px;">Procession</div></td>
                    </tr>
                    <tr>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">破蛋日</div></td>
                        <td align="left" valign="center"><div id="birthday" style="margin-left: 10px;">Birthday</div></td>
                    </tr>
                    <tr>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">籍贯</div></td>
                        <td align="left" valign="center"><div id="address" style="margin-left: 10px;">Address</div></td>
                    </tr>
                    <tr>
                        <td><div style="text-align: center; background-color: #170d28; border-radius: 5px; color: white; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">偶像宣言</div></td>
                        <td align="left" valign="center"><div id="signature" style="margin-left: 10px;">Signature</div></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>

<!--Footer area start-->
<div class="footer-framework">
    <hr/>
    <footer class="footer-area text-center">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with ❤ by Colorlib  -  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Modified by <a href="https://blog.csdn.net/WinerChopin" title="Chopin, Lao han, Wen di" target="_blank">匠心人</a>
    </footer>
</div>
<!--scripts-->
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/active.js"></script>
<script src="../static/js/sharing.js"></script>

<script type="text/javascript">
    // globally info of the user
    var state = -1;
    var nickname = '';
    var account = '';
    var email = '';
    var sex = '';
    var sel_year = 0;
    var sel_month = 0;
    var sel_day = 0;
    var province = '';
    var city = '';
    var county = '';
    var procession = '';
    var signature = '';
    var county = '';
    var photopth = '';

    var header = document.getElementById('header');
    var account_level = document.getElementById('account_level');

    function load(){
        var data = {
            'state':state,
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/validation',
            data:data,
            dataType:'json',
            success:function(data){
                state = data.state;
                if (state == 2){
                    // successful validation
                    nickname = data.nickname;
                    account  = data.account;
                    email = data.email;
                    sex = data.sex;
                    sel_year = data.sel_year;
                    sel_month = data.sel_month;
                    sel_day = data.sel_day;
                    province = data.province;
                    city = data.city;
                    county = data.county;
                    procession = data.procession;
                    signature = data.signature;
                    photopth = data.photopth;

                    update();
                }else{

                }
                console.log(photopth);
            },
            error:function(error){
                console.log("Automatically fails!");
                // uncorresponding cookie, need to re-login in
                alert("登录超时，请重新登录！");
                document.getElementById("gotohome").click();
            }
        })
    }

    function update(){
        header.src = photopth;
        // set nickname
        $("#nickname").html(nickname);
        // set e-mail
        $("#email").html(email);
        // set signature
        if (signature != '' && signature != undefined && signature != null){
            $("#signature").html(signature);
        }
        // set procession
        if (procession != '' && procession != undefined && procession != null){
            $("#procession").html(procession);
        }
        // set sex
        if (sex != '' && sex != undefined && sex != null){
            $("#sex ").html(sex);
        }
        // set the address
        $("#address ").html(province + '-' + city + '-' + county);
        // set birthday
        if (sel_year != -1){
            $("#birthday ").html(sel_year + '-' + sel_month + '-' + sel_day);
        }
    }

    window.onload = function(){
        load();
    }
</script>

</body>
</html>