<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../static/src/images/logo_t.ico" type="image/x-icon"/>
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/content_toolbar.css">
    <link rel="stylesheet" href="../static/css/self_defined_style.css">
    <link rel="stylesheet" href="../static/css/list-b85bd04713.min.css">
    <link rel="stylesheet" href="../static/css/skin-yellow-2eefd34acf.min.css">
    <link rel="stylesheet" href="../static/css/sandalstrap.min.css">
    <link rel="stylesheet" href="../static/css/demo_heart.css">
</head>
<body onload="load();">
<table style="margin-top: 100px; margin-bottom: 100px; margin-left: 10%; margin-right: 10%; alignment: center; border-collapse:separate; border-spacing:10px;" width="80%" >
        <tr>
            <td valign="top" width="90%" id="tutorial_steps">
                <div class="filter-box d-flex align-items-center">
                    <h3 id="tutorial_title" class="title_text"/>
                </div>
                <br/>

            </td>
            <!--
            <td valign="top">
                <div class="filter-box d-flex align-items-center" >

                </div>
            </td>
            -->
        </tr>
        <tr>
            <td id="comment_board">
                <!--comment-->
                <div class="editing_board">
                    <!--1) img 2) textarea 3) submit-btn-->
                    <form method="post" action="/SuperCraftsman/uploadcomment" enctype="multipart/form-data" id="form_comment">
                        <table>
                            <tr>
                                <td class="item0_3"><a href="#"><img src="../static/src/images/default.png" class="head_img" id="my_head_img" name="my_head_img"/></a></td>
                                <td class="item1_3"><textarea class="text_comment" id="my_txt_comment" name="my_txt_comment"></textarea></td>
                            </tr>
                            <tr><td>
                                <input type="text" id="save_id" name="save_id" style="display: none;"/>
                            </td><td>
                                <input type="submit" id="submit" value="提交评论" style="color: white; background-color: #ff3e2f; border: none; border-radius: 5px;padding: 5px;" onclick="return verify();" />
                            </td></tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td >
                <!--last/next page-->
                <!--
                <div class="qt-pagination" style="margin-bottom: 30px;">
                    <a href="#" style="padding: 10px;">上一页</a>
                    <a href="#" style="padding: 10px;">01</a>
                    <a href="#" style="padding: 10px;" class="on">02</a>
                    <a href="#" style="padding: 10px;">下一页</a>
                </div>
                -->
            </td>
        </tr>
    </table>
    <!--<img src="../static/src/images/reward.png" class="journal-reward"/>-->
</body>
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    var title = '';
    var contents = '';
    var tutorial_steps = document.getElementById('tutorial_steps');
    var id = 0;
    var open_flags = [];
    var reply_flags = [];
    var submit_allowable = false;
    function addtxt(no){
        var num = no;
        var filename = '../static/tutorials/' + String(num) + '/strut.txt';
        write_tutorial(filename, num);
    }

    function write_tutorial(filename, num){
        var target = "";
        // console.log(filename);
        var data = {
            'filename': filename,
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/gettutorialtxt',
            data:data,
            dataType:'json',
            success: function(data){
                if (data.state > 0){
                    // console.log(data.title);
                    title = data.title;
                    contents = data.content;
                    target = "#title_"+num;
                    // console.log(target);
                    $(target).html(title);
                    // add();
                    update();
                }else{
                    alert("您所搜索的教程不存在或者已经被编者删除！");
                }
                rendering();
            }
        });
    }

    function rendering(){
        $("#tutorial_title").text(title);
    }

    var state = -1;
    var photopth = '../static/src/images/default.png';
    function verify(){

        var value2 = document.getElementById("my_txt_comment").value;
        if (value2 == ''){
            return false;
        }
        return submit_allowable;
    }
    function init(){
        var data = {
            'state':state,
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/validation',
            data:data,
            dataType:'json',
            success:function(data){
                state = data.state;
                if (state == 2){
                    submit_allowable = true;
                    photopth = data.photopth;
                    document.getElementById('my_head_img').src = photopth;
                    // document.getElementById("submit").style.display="none";
                }else{
                    // document.getElementById('my_txt_comment').disabled = true;
                    // not allowed submit
                    submit_allowable = false;
                    document.getElementById("submit").style.display="none";
                }
                // console.log(photopth);
            },
            error:function(error){
            }
        })
    }
    var cur_id = 0;
    function load(){
        // validate
        var data = {
            'state':state,
        };
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/validation',
            data:data,
            dataType:'json',
            success:function(data){
                state = data.state;
                if (state == 2){
                    cur_id = data.user_id;
                    update();
                }else{

                }
                console.log(photopth);
            },
            error:function(error){

            }
        });
        // end validation
        var loc = location.href;
        var n1 = loc.length;//地址的总长度
        var n2 = loc.indexOf("=");//取得=号的位置
        id = decodeURI(loc.substr(n2+1, n1-n2));//从=号后面的内容
        document.getElementById('save_id').value = id;

        // console.log(id);
        init();
        addtxt(parseInt(id));
        addcomment(id);
    }
    function update(){
        // console.log(title);
        document.title="小匠的教程："+title;
        var img_pth = '';
        var content = [];
        var i = 0, j = 0;
        var step_count = 0;

        for (step_count = 0; step_count < contents.length; ++step_count){
            content = contents[step_count];
            console.log(content);

            var mydiv = document.createElement("div");
            if (step_count>=1){
                mydiv.setAttribute('class', 'd-flex align-items-center div_step');
            }
            else{
                mydiv.setAttribute('class', 'd-flex align-items-center div_step_top');
            }

            var p = document.createElement('p');//创建p节点
            p.innerHTML = 'Step ' + step_count;//p节点显示的文字
            p.setAttribute("class", 'count_step');
            mydiv.appendChild(p);
            mydiv.appendChild(document.createElement('br'));

            var table = document.createElement('table');
            var row = table.insertRow();

            var img_cell = row.insertCell(0);
            img_cell.setAttribute('class', 'item0_2');
            img_cell.setAttribute('white-space', 'nowrap');
            var img = document.createElement('img');
            img.setAttribute('id', 'img_' + step_count);
            img_name = '#img_' + step_count;
            img.setAttribute('class', 'img_step');
            img.setAttribute('src', '../static/tutorials/'+id+'/src/'+(step_count+1)+'.png?ver=1');
            img_cell.appendChild(img);
            img_cell.appendChild(document.createElement('br'));

            //var div = document.createElement('div');
            //div.setAttribute('contenteditable',true);
            var txt_cell = row.insertCell(1);
            txt_cell.setAttribute('class', 'item1_2');
            txt_cell.setAttribute('valign', 'bottom');
            var text = document.createElement('textarea');

            text.setAttribute("id", "txtup_" + step_count);
            text.setAttribute("name", "txtup_" + step_count);
            text.setAttribute("class", 'text_step');
            for(j = 0; j < content.length; ++j){
                text.innerHTML += content[j];
            }

            text.setAttribute("disabled",true);
            //div.appendChild(text);
            txt_cell.appendChild(text);

            mydiv.appendChild(table);

            // to configure the div for each step
            tutorial_steps.appendChild(mydiv);
        }
    }
    function addreply(flag_id){
        var replies = [];
        var reply_times = [];
        var usr_ids = [];
        var usr_photopths = [];
        var date_stamps = [];
        var data = {
            'reply_id': flag_id, // $("#reply_"+flag_id)
        };
        $.ajax({
            type: 'GET',
            url: '/../SuperCraftsman/getreply',
            data: data,
            dataType: 'json',
            success: function (data) {
                // console.log(data.no);
                if (data.state == 1) {
                    replies = data.replies;
                    reply_times = data.date_stamps;
                    usr_ids = data.usr_ids;
                    usr_photopths = data.usr_photopths;
                    // console.log(replies);
                    var div1 = document.getElementById('reply_'+flag_id);
                    for(var k = 0; k < replies.length; ++k){
                        // the contents
                        var div1_2 = document.createElement('div');
                        div1_2.setAttribute('class', 'commenting_board');

                        var table = document.createElement('table');
                        var row = table.insertRow();

                        var img_cell = row.insertCell(0);
                        img_cell.setAttribute('class', 'item0_3');
                        img_cell.setAttribute('white-space', 'nowrap');
                        var img = document.createElement('img');
                        img.setAttribute('class', 'head_img');
                        img.setAttribute('src', usr_photopths[k]);
                        img_cell.appendChild(img);
                        img_cell.appendChild(document.createElement('br'));

                        var txt_cell = row.insertCell(1);
                        txt_cell.setAttribute('class', 'item1_3');
                        var div2 = document.createElement('div');
                        div2.setAttribute('class', 'test-textarea');
                        div2.innerHTML = replies[k];
                        txt_cell.appendChild(div2);

                        // second row
                        var row = table.insertRow();
                        var cell = row.insertCell(0);
                        cell = row.insertCell(1);
                        var h5 = document.createElement('h5');
                        h5.setAttribute('class', 'h5_time_stamp');
                        h5.innerHTML = reply_times[k];
                        cell.appendChild(h5);
                        div1_2.appendChild(table);

                        div1.appendChild(div1_2);
                    }
                }
            }
        });
    }
    function addcomment(id){
        var data = {
            'id': id,
        };
        console.log("adasa--"+id);
        $.ajax({
            type:'GET',
            url:'/../SuperCraftsman/addcomment',
            data:data,
            dataType:'json',
            success:function(data){
                // console.log(data.state);
                if (data.state > 0){
                    var usr_ids = data.usr_ids;
                    var cmm_ids = data.cmm_ids;
                    var date_stamps = data.date_stamps;
                    var comments = data.comments;
                    var usr_acounts = data.usr_acounts;
                    var usr_photopths = data.usr_photopths;

                    var length = usr_ids.length;
                    var usr_id = 0;
                    var cmm_id = 0;
                    var date_stamp = '';
                    var comment = '';
                    var usr_acount = '';
                    var usr_photopth = '';

                    for(var i = 0; i < length; ++i){
                        usr_id = usr_ids[i];
                        cmm_id = cmm_ids[i];
                        comment = comments[i];
                        date_stamp = date_stamps[i];
                        usr_acount = usr_acounts[i];
                        usr_photopth = usr_photopths[i];
                        // console.log(date_stamp);

                        // html
                        var div = document.createElement('div');
                        div.setAttribute('class', 'commenting_board');
                        var table = document.createElement('table');
                        // first row
                        var row = table.insertRow();

                        var img_cell = row.insertCell(0);
                        img_cell.setAttribute('class', 'item0_3');
                        img_cell.setAttribute('white-space', 'nowrap');
                        var a = document.createElement('a');
                        a.setAttribute('href', '#');                        // set <a/>'s attribute
                        var img = document.createElement('img');
                        img.setAttribute('id', 'cmm_head_img_' + (i+1));
                        img.setAttribute('class', 'head_img');
                        img.setAttribute('src', usr_photopth);
                        a.appendChild(img);
                        img_cell.appendChild(a);
                        img_cell.appendChild(document.createElement('br'));

                        var txt_cell = row.insertCell(1);
                        txt_cell.setAttribute('class', 'item1_3');
                        var div2 = document.createElement('div');
                        div2.setAttribute('class', 'test-textarea');
                        div2.innerHTML = comment;
                        txt_cell.appendChild(div2);
                        // second row
                        var row2 = table.insertRow();
                        var cell = row2.insertCell(0);

                        var cell = row2.insertCell(1);

                        var text_hidden = document.createElement('input');
                        text_hidden.setAttribute('type', 'text');
                        text_hidden.setAttribute('id', 'text_hidden');
                        text_hidden.setAttribute('class', 'text_hidden');
                        text_hidden.value = cmm_id;
                        cell.appendChild(text_hidden);

                        var h5 = document.createElement('h5');
                        h5.setAttribute('id', 'cmm_id');
                        h5.innerHTML = date_stamp;
                        h5.setAttribute('class', 'h5_time_stamp');
                        cell.appendChild(h5);
                        // open_flags.append()
                        // button: if clicked, display the blocked
                        var jj = 0;
                        for(jj = open_flags.length; jj <= cmm_id; ++jj){
                            open_flags[jj] = false;
                            reply_flags[jj] = false;
                        }

                        var btn = document.createElement('input');
                        btn.type = 'button';
                        btn.value = '展开';
                        btn.setAttribute('class', 'btn_open');
                        btn.setAttribute('id', 'btn_'+cmm_id);
                        var fflag_id;
                        btn.onclick = function() {
                            var flag_id = parseInt($(this).parent().find('input')[0].value);
                            fflag_id = flag_id;
                            // console.log(flag_id);
                            // console.log(open_flags);
                            if (open_flags[flag_id] == false){
                                // if replies updation required
                                if (reply_flags[flag_id] == false){
                                    addreply(flag_id);
                                    reply_flags[flag_id] = true;
                                }
                                // open it
                                for(var jj = 0; jj < open_flags.length; ++jj){
                                    if (open_flags[jj]==true){
                                        open_flags[jj]=false;
                                        $(this).val('展开');
                                        var target = '#reply_'+jj;
                                        $(target).css('display','none');
                                    }
                                }
                                $(this).val('收起');
                                var target = '#reply_'+flag_id;
                                $(target).css('display','block');
                                open_flags[flag_id] = true;
                            }else{
                                // close it
                                $(this).val('展开');
                                var target = '#reply_'+flag_id;
                                $(target).css('display','none');
                                open_flags[flag_id] = false;
                            }

                        };
                        cell.appendChild(btn);

                        var div1 = document.createElement('div');
                        div1.setAttribute('class', 'text_hidden');
                        div1.setAttribute('id', 'reply_'+cmm_id);

                        // editing replies
                        var div1_1 = document.createElement('div');
                        div1_1.setAttribute('class', 'editing_board_reply');
                        var form = document.createElement('form');
                        form.action = '/SuperCraftsman/uploadreply';
                        form.method = 'post';
                        form.enctype = 'multipart/form-data';
                        form.setAttribute('id', "form_reply_"+cmm_id);
                        var table_2 = document.createElement('table');
                        var row_2 = table_2.insertRow();
                        var cell_2_1 = row_2.insertCell(0);
                        cell_2_1.setAttribute('class', 'item0_3');
                        var a = document.createElement('a');
                        a.setAttribute('href', '#');
                        var img = document.createElement('img');
                        img.setAttribute('class', 'head_img');
                        img.setAttribute('name', 'head_img');
                        img.setAttribute('src', photopth);
                        a.appendChild(img);
                        cell_2_1.appendChild(a);
                        var cell_2_2 = row_2.insertCell(1);
                        cell_2_2.setAttribute('class', 'item1_3');
                        var textarea = document.createElement('textarea');
                        textarea.setAttribute('class', 'text_comment');
                        textarea.setAttribute('id', 'txt_reply_'+cmm_id);
                        textarea.setAttribute('name', 'txt_reply');
                        cell_2_2.appendChild(textarea);

                        var row_2 = table_2.insertRow();
                        var cell_2_1 = row_2.insertCell(0);
                        var cell_2_2 = row_2.insertCell(1);
                        var hidden = document.createElement('input');
                        hidden.setAttribute('name', 'hidden_info');
                        hidden.setAttribute('class', 'text_hidden');
                        hidden.type = 'text';
                        hidden.value = '#txt_reply_'+cmm_id+'-'+cmm_id+'-'+cur_id+'-'+id;
                        cell_2_2.appendChild(hidden);
                        var reply = document.createElement('input');
                        reply.type = 'submit';
                        reply.setAttribute('id', 'reply');
                        reply.value = '回复';
                        reply.setAttribute('class', 'submit_btn');
                        reply.onclick = function(){
                            var flag = $(this).parent().find('input')[0].value;
                            var contt = $(flag.split('-')[0]).val();
                            if (contt.length <= 0 || cur_id == 0){
                                alert("很抱歉，回复空白无效或您尚未登录！");
                                return false;
                            }
                            else{
                                return true;}
                        };
                        cell_2_2.appendChild(reply);
                        form.appendChild(table_2);
                        div1_1.appendChild(form);

                        div1.appendChild(div1_1);
                        cell.appendChild(div1);
                        div.appendChild(table);
                        document.getElementById('comment_board').appendChild(div);
                    }
                }
            }
        });
    }
</script>
</html>